body{
    font-family: 'Roboto', sans-serif;    font-size: 1em;
    color: black;
    background-color: #EEEEEE;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: 
    "header header"
    "main main"
    "footer footer";
}

header{
    grid-area: header;
    text-align: center;
}

main{
    grid-area: main;
    text-align: center;
}

main ul{
    text-align: justify;
    padding: 0 20%;
}

footer{
    grid-area: footer;
    text-align: center;;
}

figure{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    grid-gap: 20px 0px;
    row-gap: 100px;
    justify-items: center;
    background-color: white;
    padding: 20px;
}

p{
    padding: 0 5%;
}

img{
    max-width: 100%;
}
